/* Estilos para a saída de palíndromos */
#palindromeResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.palindrome-number {
    flex-basis: calc(20% - 30px); /* 20% para 5 números por linha e subtrai 20px para a margem horizontal */
    text-align: center;
    margin: 5px 5px; /* Margem superior e inferior para espaçamento vertical e horizontal */
    max-height: 20px; /* Define a altura máxima para cada linha */
}
